body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: green;
    font-family: Consolas;
}

h1 {
    margin-top: 20px;
    font-size: 1.5rem;
    letter-spacing: 10px;
}

#data {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    animation: glow 5s infinite forwards;
}

#giorno {
    font-size: 2rem;
    margin-top: 10px;
    color: rgba(0, 128, 0, 0.342);
    text-align: center;
}

footer a {
    text-decoration: underline wavy;
    color: grey;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
}

footer {
    text-align: center;
    margin-top: 20px;
}

@font-face {
    font-family: Consolas;
    src: url("CONSOLA.TTF");
}

@keyframes glow {
    0% {opacity: 70%; text-shadow: none;}
    50% {opacity: 100%; text-shadow: 0px 0px 20px green;}
    100% {opacity: 70%; text-shadow: none;}

}
